body {
    /*all: unset;*/
    font-family: sans-serif;
    background-color: #f2f2f2;

}

div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

div.central-column {
    max-width: 760px;
text-align: left;
    /*для центровки*/
    margin: auto;
    display: block;

    margin-top: 7%;
}

div.error {
    margin: 4% 0 4%;
    color: lightcoral;
    display: block;
}

div.product {
    /*border: 3px solid #73AD21;*/
    width: 240px;
    /*height: 340px;*/
    background-color: #f8f8f8;
    margin: 5px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
    color: #477373;
}

div.product:hover {
    background-color: #ffffff;
}

div.image {
    /*border: 3px solid #ad6d47;*/
    width: 234px;
    height: 180px;

    overflow: hidden;
    margin-bottom: 10px;
}

div.name {
    font-size: 1.5em;
    margin: 8px 0 8px;
}

div.price {
    font-size: 3em;
    margin-bottom: 8px;
}

img {
    width: 240px;
}

input[type=number] {
    font-size: 1em;
    text-align: center;
    padding: 8px 5px;
    width: 70px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 1.2em;
    width: 130px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;

    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

/*pagination*/

.pagination {
    margin: auto;
    margin-top: 24px;
    max-width: 750px;
    display: block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: gray;
    color: white;
    border-radius: 5px;

}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*menu*/
div.menu {
    text-align: right;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #f2f2f2;
    display: inline-block;
    padding: 10px;
    margin: 0px;
}