body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    margin-top: 0px;
}

div {
    /*border: 3px solid #73AD21;*/
    text-align: center;
    margin: auto;
}

div.error {
    margin-top: 4%;
    color: lightcoral;
}

div.form {
    margin-top: 8px;
}

div.form-column {
    width: 270px;
    display: inline-block;
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;

}

.phone{
    width: 210px;
}


.radio-hide {
    display: inline-block;
    width: 30px;
}

.radio-hide:not(:checked) + label + * {
    display: none;
}

div.header {
    font-size: 2em;
    line-height: 230%;
    color: #5a8787;
    margin-top: 4%;
}

div.required-warning {
    text-align: left;
    width: 560px;
    color: #5c5c5c;
}

div.menu {
    text-align: right;
    position: fixed;
    right: 0px;
    top:0px;
    background-color: #f2f2f2;
    display: inline-block;
    padding: 10px;
    margin: 0px;
}

textarea {
    font-size: 1.2em;
    width: 250px;
    padding: 8px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-sizing: border-box;
}

input, select {
    font-size: 1.2em;
    text-align: center;
    width: 250px;
    padding: 8px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-sizing: border-box;
}

select.filter {
    font-size: unset;
    width: unset;
    padding: unset;
}

select.status-change {
    font-size: 0.9em;
    color: #6b6b6b;
    width: 90px;
    padding: unset;

    position: absolute;
    top: 7px;
    right: 10px;
    margin: unset;
}

/*input:required {
    content: "*";

}*/
/*.required label:after{
    content: "*";
}*/

input[type=submit] {
    font-size: 1.2em;
    width: 250px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    margin: 12px 0 30px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input.register[type=submit] {
    font-size: 1.2em;
    width: 250px;
    background-color: #5a8787;
    color: white;
    padding: 8px 20px;
    margin: 12px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input.register[type=submit]:hover {
    background-color: #477373;
}

input.back[type=submit] {
    font-size: 1.2em;
    width: 250px;
    background-color: #b2b2b2;
    color: white;
    padding: 8px 20px;
    margin: 12px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input.back[type=submit]:hover {
    background-color: #a3a3a3;
}

input.simple-button[type=submit] {
    font-size: 1.2em;
    width: 240px;
    background-color: #b2b2b2;
    color: white;
    padding: 8px 20px;
    margin: 12px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input.simple-button[type=submit]:hover {
    background-color: #a3a3a3;
}

input.file {
    width: 450px;
}

button {
    font-size: 1em;
    width: 90px;
    color: white;
    padding: 3px 0px;
    margin: 0px 0 0px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

button.green-button {
    background-color: #4CAF50;
}

button.green-button:hover {
    background-color: #45a049;
}

button.red-button {
    background-color: #af5138;
}

button.red-button:hover {
    background-color: #cb5b40;
}

button.lang {
    display: inline;
    width: 30px;

}

.hidden {
    all: unset;
    width: 0px;
    height: 0px;
    position: absolute;
}

form.plane {
    display: inline-block;
    /*margin: 0px;*/
    height: 38px;
}
/*for news*/
/*div {
    !*border: 3px solid #73AD21;*!
    text-align: left;
    margin: auto;
    width: 620px;
}*/

/*.news-image {
    float: left;
    margin-right: 10px;
}*/

article {
    margin: auto;
    max-width: 750px;
    border-top: 1px solid gray;
}

h1 {
    margin: auto;
    margin-top: 4%;
    margin-bottom: 24px;
    max-width: 750px;
}

p {
    margin: 0 0 18px 12px;
    padding: clear;
    text-align: left;
}

.news-headline {
    text-align: left;
}

.news-date, h3 {
    display: inline-block;
}


.news-img, .news-text {
    display: inline-block;
    max-width: 500px;
    vertical-align: top;
    margin: 0 0 12px 0;
}

img {
    border-radius: 18px;
    width: 240px;
}

img.icon {
    border-radius: 0px;
    width: 30px;
}

.pagination {
    margin: auto;
    margin-top: 24px;
    max-width: 750px;

}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: gray;
    color: white;
    border-radius: 5px;

}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*     add news page     */

div.news-add-body {
    /*border: 3px solid #73AD21;*/
    text-align: left;
    margin: auto;
    width: 620px;
}

input.newsheadline {
    text-align: left;
    width: 620px;
}

textarea.newstext{
    width: 620px;
    height: 250px;
}

/*   table   */
div.table {
    text-align: left;
    width: 750px;
}

table {
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    margin-top: 30px;
}

table.margin-off {
    margin-top: unset;
}

th {
    font-size: 13px;
    font-weight: normal;
    vertical-align: text-top;
    /*border-bottom: 1px solid #fff;*/
    color: #6b6b6b;
    padding: 8px;
}
td {
    background: white;
    border-bottom: 2px solid #f2f2f2;
    color: #6b6b6b;
    border-top: 1px solid transparent;
    padding: 8px;
}
tr:hover td {background: #ededed;}

td.name-cell {
    width: 400px;
}

td.user-property {
    min-width: 200px;
    max-width: 400px;
    position: relative;
    padding-bottom: unset;
}

input.checkbox {
    width: 30px;
}

.empty-basket {
    font-size: 5em;
    color: #cccccc;
    margin-top: 15%;
}